@media only screen and (min-width: 0px) and (max-width: 480px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  *::-webkit-scrollbar {
    width: 0.4rem;
  }
  *::-webkit-scrollbar-thumb {
    background-color: #eaafc8;
    border-radius: 2px;
  }
  body {
    display: flex;
    flex-direction: column;
    font-family: Inter UI, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
      Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
      Segoe UI Symbol, Noto Color Emoji;
    width: 100%;
    min-height: 100vh;
    background: #e8e8e8;
    background-size: 180% 180%;
    animation: gradient-animation 4s ease infinite;
  }
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    width: 100%;
    height: 40vh;
    background: linear-gradient(200deg, #703ba1, #eaafc8);
    background-size: 150% 150%;
    animation: gradient-animation 4s ease infinite;
    border-bottom-left-radius: 70% 40%;
    border-bottom-right-radius: 70% 40%;
    box-shadow: 0 2px 1px 0 rgb(0 0 0 / 10%);
  }
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: -moz-linear-gradient(
      left,
      rgba(153, 153, 153, 1) 0%,
      rgba(179, 179, 179, 1) 12%,
      rgba(204, 204, 204, 1) 25%,
      rgba(143, 143, 143, 1) 39%,
      rgba(87, 87, 87, 1) 50%,
      rgba(0, 0, 0, 1) 51%,
      rgba(36, 36, 36, 1) 60%,
      rgba(87, 87, 87, 1) 76%,
      rgba(56, 56, 56, 1) 91%,
      rgba(36, 36, 36, 1) 100%
    );
  }
  nav > a {
    margin: 0 0.4rem;
    padding: 0.3rem 0.4rem;
    color: #1c1c1c9c;
    text-decoration: none;
    font-weight: 400;
    font-size: 13px;
    border: #fff 0.1px solid;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #fff;
    font-family: helvetica;
  }
  nav > a:hover {
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
    color: #fff;
  }
  nav a:hover {
    border-image: linear-gradient(135deg, #ffcc33 0%, #e233ff 100%);
  }
  header h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "poppins";
    font-size: 2rem;
    color: #fff;
    text-shadow: #1c1c1c7e 1px 2px;
  }
  header span {
    padding-right: 0.3rem;
    color: #f18099;
    background: linear-gradient(135deg, #ffcc33 0%, #e233ff 100%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: #ffffff4f 0 0 0 !important;
  }
  header img {
    padding-top: 0.5rem;
    width: 6rem;
    filter: drop-shadow(0 3px 1px rgb(0, 0, 0, 0.137));
  }
  nav {
    display: flex;
    flex-wrap: wrap-reverse;
    margin-bottom: 5rem;
  }
  main {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    margin: 1.5rem 0;
    align-self: center;
    width: 85vw;
    min-height: 70vh;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 1px 0 rgb(0 0 0 / 10%);
    align-items: flex-start;
    justify-content: center;
  }
  section {
    width: 90%;
    min-height: 50%;
    background: linear-gradient(white, white) padding-box,
      /*grey background*/ linear-gradient(to right, #654ea3, #eaafc8) border-box; /* border */
    color: #313149;
    padding: 10px;
    border: 5px solid transparent;
    border-radius: 10px;
    margin: 1rem 1rem 1rem 1rem;
    box-shadow: 3px -3px 10px #1c1c1c27;
  }
  section h2 {
    color: #f18099;
    background: linear-gradient(135deg, #ffcc33 0%, #e233ff 100%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: #ffffff00 0 0 0 !important;
    text-align: center;
    font-size: 2.6rem;
  }
  section p {
    font-family: helvetica;
    text-align: center;
    padding: 0.2rem 0;
    font-size: 0.9rem;
    color: #8a8f98;
  }
  article img {
    padding: 0 1rem;
    min-width: 1rem;
    max-width: 100%;
  }
  article {
    justify-self: center;
    align-self: center;
  }
  article > h3 > a {
    color: #f18099;
    background: linear-gradient(135deg, #ffcc33 0%, #e233ff 100%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: #ffffff00 0 0 0 !important;
    color: #fff;
    text-shadow: -1px 1px 0 #1c1c1c7e;
    display: flex;
    justify-content: center;
  }
  .costo {
    color: #ffffff;
    background: linear-gradient(135deg, #3347ff 0%, #e233ff 100%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: #ffffff00 0 0 0 !important;
    color: #fff;
    text-shadow: -1px 1px 0 #1c1c1c7e;
    display: flex;
    justify-content: center;
    font-weight: 800;
  }
  footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 20vh;
    justify-content: center;
    align-items: center;
  }
  footer p {
    align-content: center;
    align-self: center;
    color: #666666;
  }
  footer img {
    width: 1rem;
    margin: auto 0.1rem;
  }
  .redes-footer {
    padding-top: 0.5rem;
    display: flex;
  }
}
/* PC Y TABLET */
@media only screen and (min-width: 480px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
  }
  *::-webkit-scrollbar {
    width: 0.4rem;
  }
  *::-webkit-scrollbar-thumb {
    background-color: #eaafc8;
    border-radius: 2px;
  }
  body {
    display: flex;
    flex-direction: column;
    font-family: Inter UI, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
      Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
      Segoe UI Symbol, Noto Color Emoji;
    width: 100%;
    min-height: 100vh;
    background: #e8e8e8;
    background-size: 180% 180%;
    animation: gradient-animation 4s ease infinite;
  }
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    width: 100%;
    height: 40vh;
    background: linear-gradient(200deg, #703ba1, #eaafc8);
    background-size: 150% 150%;
    animation: gradient-animation 4s ease infinite;
    border-bottom-left-radius: 70% 40%;
    border-bottom-right-radius: 70% 40%;
    box-shadow: 0 2px 1px 0 rgb(0 0 0 / 10%);
  }
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: -moz-linear-gradient(
      left,
      rgba(153, 153, 153, 1) 0%,
      rgba(179, 179, 179, 1) 12%,
      rgba(204, 204, 204, 1) 25%,
      rgba(143, 143, 143, 1) 39%,
      rgba(87, 87, 87, 1) 50%,
      rgba(0, 0, 0, 1) 51%,
      rgba(36, 36, 36, 1) 60%,
      rgba(87, 87, 87, 1) 76%,
      rgba(56, 56, 56, 1) 91%,
      rgba(36, 36, 36, 1) 100%
    );
  }
  nav > a {
    margin: 0 0.4rem;
    padding: 0.3rem 0.4rem;
    color: #1c1c1c9c;
    text-decoration: none;
    font-weight: 400;
    font-size: 13px;
    border: #fff 0.1px solid;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #fff;
    font-family: helvetica;
  }
  nav > a:hover {
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
    color: #fff;
  }
  nav a:hover {
    border-image: linear-gradient(135deg, #ffcc33 0%, #e233ff 100%);
  }
  header h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "poppins";
    font-size: 2rem;
    color: #fff;
    text-shadow: #1c1c1c7e 1px 2px;
  }
  header span {
    padding-right: 0.3rem;
    color: #f18099;
    background: linear-gradient(135deg, #ffcc33 0%, #e233ff 100%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: #ffffff4f 0 0 0 !important;
  }
  header img {
    padding-top: 0.5rem;
    width: 6rem;
    filter: drop-shadow(0 3px 1px rgb(0, 0, 0, 0.137));
  }
  nav {
    display: flex;
    flex-wrap: wrap-reverse;
    margin-bottom: 5rem;
  }
  main {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    margin: 1.5rem 0;
    align-self: center;
    width: 85vw;
    min-height: 70vh;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 1px 0 rgb(0 0 0 / 10%);
    align-items: flex-start;
    justify-content: center;
  }
  section {
    width: 90%;
    min-height: 100%;
    background: linear-gradient(white, white) padding-box,
      /*grey background*/ linear-gradient(to right, #654ea3, #eaafc8) border-box; /* border */
    color: #313149;
    padding: 10px;
    border: 5px solid transparent;
    border-radius: 10px;
    margin: 1rem 1rem 1rem 1rem;
    box-shadow: 3px -3px 10px #1c1c1c27;
    
  }
  section h2 {
    color: #f18099;
    background: linear-gradient(135deg, #ffcc33 0%, #e233ff 100%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: #ffffff00 0 0 0 !important;
    text-align: center;
    font-size: 2.6rem;
  }
  section p {
    font-family: helvetica;
    padding: 0.2rem 0;
    font-size: 0.9rem;
    color: #8a8f98;
    text-align: center;
  }
  .article img {
    padding: 0 1rem;
    min-width: 1rem;
    max-width: 100%;
  }
  .article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .article > h3{
    color: #f18099;
    background: linear-gradient(135deg, #ffcc33 0%, #e233ff 100%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: #ffffff00 0 0 0 !important;
    color: #fff;
    text-shadow: -1px 1px 0 #1c1c1c7e;
    display: flex;
    justify-content: center;
  }
  footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 20vh;
    justify-content: center;
    align-items: center;
  }
  footer p {
    align-content: center;
    align-self: center;
    color: #666666;
  }
  footer img {
    width: 1rem;
    margin: auto 0.1rem;
  }
  .redes-footer {
    padding-top: 0.5rem;
    display: flex;
  }
}
header img{
  margin-top: 4rem;
}