* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  *::-webkit-scrollbar {
    width: 0.4rem;
    height: .4rem;
  }
  *::-webkit-scrollbar-thumb {
    background-color: #eaafc8;
    border-radius: 2px;
  }
  body {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    font-family: Inter UI, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
      Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
      Segoe UI Symbol, Noto Color Emoji;
    width: 100%;
    min-height: 100vh;
    background: #e8e8e8;
    background-size: 180% 180%;
    animation: gradient-animation 4s ease infinite;
  }
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    width: 100%;
    height: 40vh;
    background: linear-gradient(200deg, #703ba1, #eaafc8);
    background-size: 150% 150%;
    animation: gradient-animation 4s ease infinite;
    border-bottom-left-radius: 70% 40%;
    border-bottom-right-radius: 70% 40%;
    box-shadow: 0 2px 1px 0 rgb(0 0 0 / 10%);
  }
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: -moz-linear-gradient(
      left,
      rgba(153, 153, 153, 1) 0%,
      rgba(179, 179, 179, 1) 12%,
      rgba(204, 204, 204, 1) 25%,
      rgba(143, 143, 143, 1) 39%,
      rgba(87, 87, 87, 1) 50%,
      rgba(0, 0, 0, 1) 51%,
      rgba(36, 36, 36, 1) 60%,
      rgba(87, 87, 87, 1) 76%,
      rgba(56, 56, 56, 1) 91%,
      rgba(36, 36, 36, 1) 100%
    );
  }
  nav > a {
    margin: 0 0.4rem;
    padding: 0.3rem 0.4rem;
    color: #1c1c1c9c;
    text-decoration: none;
    font-weight: 400;
    font-size: 13px;
    border: #fff 0.1px solid;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #fff;
    font-family: helvetica;
  }
  nav > a:hover {
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
    color: #fff;
  }
  nav a:hover {
    border-image: linear-gradient(135deg, #ffcc33 0%, #e233ff 100%);
  }
  header h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "poppins";
    font-size: 2rem;
    color: #fff;
    text-shadow: #1c1c1c7e 1px 2px;
  }
  header span {
    padding-right: 0.3rem;
    color: #f18099;
    background: linear-gradient(135deg, #ffcc33 0%, #e233ff 100%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: #ffffff4f 0 0 0 !important;
  }
  header img {
    padding-top: 0.5rem;
    width: 6rem;
    filter: drop-shadow(0 3px 1px rgb(0, 0, 0, 0.137));
  }
  nav {
    display: flex;
    flex-wrap: wrap-reverse;
    margin-bottom: 5rem;
  }
  main {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    margin: 1.5rem 0;
    align-self: center;
    width: 85vw;
    min-height: 70vh;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 1px 0 rgb(0 0 0 / 10%);
    align-items: center;
    justify-content: center;
  }
table {
    max-width: 100%;
    min-width: 30%;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}
th, td {
    padding: 15px;
    background-color: rgba(255,255,255,0.2);
    color: #1c1c1c;
}
th {
    text-align: left;
}
thead th {
    background-color: #eaafc8;
}
tbody tr:hover {
    background-color: rgba(255,255,255,0.3);
}
tbody td {
    position: relative;
}
tbody td:hover:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: rgba(255,255,255,0.2);
    z-index: -1;
}
  footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 20vh;
    justify-content: center;
    align-items: center;
  }
  footer p {
    align-content: center;
    align-self: center;
    color: #666666;
  }
  footer img {
    width: 1rem;
    margin: auto 0.1rem;
  }
header img{
  margin-top: 4rem;
}
.table-responsive {
  min-height: .01%;
  overflow-x: auto;
}

@media screen and (max-width: 767px) {
  .table-responsive {
      width: 100%;
      margin-bottom: 15px;
      overflow-y: hidden;
      -ms-overflow-style: -ms-autohiding-scrollbar;
      border: 1px solid #ddd;
  }
  .table-responsive > .table {
      margin-bottom: 0;
  }
  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > td {
      white-space: nowrap;
  }
}